* {
    box-sizing: border-box;
  }



  body {
    display: flex; /* determines the type of boxes you will use in the body */
    border: 3px solid black; /* outlines the entire body with a solid black line */
    border-radius: 10px; /* Adjust the value as desired */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    
    text-align: center;
}
.title-1{ /*these will be the titles of the questions. It also includes the home page*/
    font-size: 50px;
    text-align: center;
}


.Home-Page-Paragraph{
    font-size: 25px;
    text-align: center;

}


.button-list {
    list-style-type: none; /* Hide the bullet points */
    padding: 0;
  }
  

#Home-Page-Button,.hover-button {
    width: 200px;
    height: 50px;
    font-size: 24px;
    color: white;
    border-radius: 10px;
    background-color: rgb(61, 1, 61);
    align-items: center;
  }



.hover-button:hover{
    background-color: rgb(162, 86, 162);
    color:white
}

.high-Scores {
    font-size: large;
    color: rgb(111, 10, 92);
    padding: 10px;
    position: absolute;
    top: 30px;
    left: 20px;
  }

  .timer {
    font-size: large;
    color: rgb(111, 10, 92);
    padding: 10px;
    position: absolute;
    top: 30px;
    right: 60px;
  }

/* 
  Multiple elements can have the same class name, allowing you to apply consistent styles to multiple elements. */
